:is(.hard-js) h2 {
  margin-top: 50px;
}

:is(.hard-js) h3 {
  margin-top: 25px;
}

section .tab {
  margin: 20px 0;
}
section .tab h1 {
  margin: 0;
  cursor: pointer;
  padding: 10px;
}
section .tab .important {
  width: 95%;
  margin: 1.5em auto;
  border: 2px solid #bebbbb;
  border-radius: 5px;
  padding: 10px;
}

.scheduling {
  margin: 1rem 0;
}
.scheduling .box {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: blue;
}
.scheduling .box-wrapper {
  position: relative;
  width: 406px;
  height: 406px;
  border: 3px solid red;
}
.scheduling button {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100px;
  height: 40px;
  background-color: yellow;
  border: none;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  cursor: pointer;
}

.date :is(.code_newyear) {
  background-color: #f5d9d9;
  padding: 5px;
  cursor: pointer;
}
.date :is(.code_newyear):hover {
  background-color: #ceb8b8;
}

.promotion {
  padding: 70px 0;
  position: relative;
}

.promotion__timer {
  width: 80%;
  margin: 0 auto;
}
.promotion__timer .title {
  text-align: center;
  font-size: 26px;
}
.promotion__timer .timer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promotion__timer .timer__block {
  display: inline-block;
  padding: 0 20px;
  height: 120px;
  width: 150px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  border-radius: 10px;
}
.promotion__timer .timer__block span {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 56px;
  font-weight: 700;
}

.scrolling .img_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.scrolling .img_block .img {
  max-width: 100%;
}
.scrolling .coords-wrapper .coords-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
}
.scrolling .coords-wrapper .coords-block .coords-block_head {
  width: 400px;
  height: 300px;
  border: 15px solid silver;
  display: flex;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  animation: radial-pulse 1s infinite;
  cursor: pointer;
}
.scrolling .coords-wrapper .coords-block .coords-block_head:hover {
  animation: none;
}
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}
.scrolling .coords-wrapper .coords-block .coords-block_head .coords-block_circle {
  margin-left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #797676;
}

.active {
  display: block;
}

.hide {
  display: none;
}

.border_shadow {
  border: 1px solid silver;
  -webkit-box-shadow: 0 4px 42px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 42px rgba(0, 0, 0, 0.05);
}

@keyframes anim {
  from {
    opacity: 0.1;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(225deg);
  }
}
@keyframes reverse {
  from {
    opacity: 1;
    transform: rotate(225deg);
  }
  to {
    opacity: 0;
    transform: rotate(0deg);
  }
}
.hard-js {
  position: relative;
}
.hard-js .parent_btn {
  position: absolute;
  top: 0;
  right: 0;
}
.hard-js .parent_btn .close_icon {
  position: fixed;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  opacity: 0;
}
.hard-js .parent_btn .close_icon_active {
  animation-name: anim;
  animation-duration: 1s;
  transform: rotate(225deg);
  opacity: 1;
}
.hard-js .parent_btn .close_icon_hide {
  animation-name: reverse;
  animation-duration: 1s;
  opacity: 0;
}
.hard-js .parent_btn .close_icon .minus {
  position: absolute;
  display: block;
  width: 30px;
  height: 5px;
  background-color: silver;
  border-radius: 2px;
}
.hard-js .parent_btn .close_icon .plus {
  position: absolute;
  display: block;
  width: 5px;
  height: 30px;
  background-color: silver;
  border-radius: 2px;
}/*# sourceMappingURL=hardjs.css.map */