@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --logo-color: #007AF3;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Roboto Condensed";
}

.navbar {
  background: white;
  padding: 1em;

  .logo {
    text-decoration: 0;
    font-weight: 700;
    color: black;
    font-size: 1.5em;

    span {
      color: var(--logo-color);
    }
  }
  nav {
   display: none;
  }
  .container {
    display: flex;
    place-content: space-between;
  }
  .mobile-menu {
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}