@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

$logo-color: #007AF3;
$bacbackground: #f2f2f2;
$border-color: #f5d9d9;

/* Правила для всех */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
/*  */


body {
    background: $bacbackground;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    height: 100vh;
    position: relative;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
header {
    position: sticky;
    top: 0;
    padding: 1rem 0;
    background-color: #f2f2f2c2;
    border-bottom: .5px solid $border-color;
    height: 90px;
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
        .top-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo {
               display: flex;
               align-items: center;
               h1 {
                   margin: 0;
                   margin-left: 1em;
                   color: black;
                   span {
                       color: $logo-color;
                   }
               }
            }
            nav {
                ul {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    li {
                        margin-right: 1.5em;
                    }
                }
            }
        }
}

section.home {
    margin: 2rem 0;
    .container {
        .wrapper {
            display: flex;
            justify-content: space-between;
            .block {
                width: 400px;
                padding: 1rem;
                border: 1px solid rgba(0,0,0,.125);
                box-shadow: 0 .125rem .5rem rgba(0,0,0,.15)!important;
                transition: box-shadow 0.33s ease-out;
                cursor: pointer;
                margin: 1rem;
                border-radius: .4rem;
                &:hover {
                    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
                }
                .block-text {
                    width: 220px;
                }
                
            }
            .java-script {
                background:  linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%, rgba(242,242,242,0) 100%), url(../img/js.jpg) 120% /auto 100% no-repeat;
            }
            .css {
                background:  linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 60%, rgba(242,242,242,0) 100%), url(../img/css3.jpg) 120% /auto 100% no-repeat;
                .block-text {
                    width: 230px;
                }
            }

        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100vw; 
    background: #333;
    border-top: .5px solid $border-color;
    padding: 1rem 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .abot-me {
            color: $border-color;
            h3, p {
                margin: 5px;
            }
       
        }
        .icon {
            fill: $border-color;
            margin-right: 1rem;
            width: 1.5rem;
            height: 1.5rem;
            &:hover {
                fill: $logo-color;
            }
        }
    }
}